<!DOCTYPE html>
{% extends 'accounts/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'encrypt/delete.css' %}">
</head>
<h2>Are you sure you want to delete "{{hash.name}}" ?</h2>
<form  method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" id='button1' value="yes">
</form>
<form  action="{% url 'encrypt:enlist' %}" >
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" id='button2' value="cancel">
</form>
{%endblock%}
