<!DOCTYPE html>
{% extends 'accounts/base.html' %}
{%load static%}
{% load bootstrap4 %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'encrypt/encode.css' %}">
</head>
<h1>Encrypt</h1>
<br />
<div class="form">

  <form class="form-signin" method="post">
    {% csrf_token %}
    {% bootstrap_form encrpyt_form %}
    <input type="submit" class="btn btn-primary btn-lg" id=s1 value="encrypt">

  </form>
</div>

</div>
<br />
{% if hashs %}
<h3> encrpyted password is : </h3>
{{hashs}}
{% else %}
<b>{{ hashsm }}</b>
{% endif %}

{% endblock %}
