<!DOCTYPE html>
{% extends 'accounts/base.html' %}
{% load static%}
{%load bootstrap4%}
{%block content%}
    <link rel="stylesheet" href="{% static 'accounts/signin.css' %}">

  </head>
    <div class="">
      <h1>Sign up</h1>
      <!-- <div class="message">
        {% for message in messages %}
        <h4>{{message}}</h4>
        {%endfor%} -->

      </div>
      <form class="form-signin" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class='check'><input type="checkbox" name="" required> by clicking on this you are accepting our <a href='{% url "conditions" %}'>terms and conditions</a></br></div>
        <input type="submit" class="btn btn-primary btn-lg" id='s1' value="Signup">
      </form>
    </div>

{%endblock%}
