
body {
  height: 100%;
}

body {
  text-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding-top: 95px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="text"] {
  margin-bottom: -40px;
  padding-bottom: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  padding-bottom: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
label{
  color:transparent;
}
.form-signin input[type="submit"]{
  width:40%
}
#nav{
  margin-top: -40px;
    background-color: #7952b3;
}
#s1{
  background-color: #7952b3	;
  border-color:#7952b3;
}
