
body {
  text-align: center;
  align-items: center;
  background-color: #f5f5f5;
}
.text-muted{
  color:transparent!important;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding-top: 95px;
  margin: auto;

}
#nav{
  background-color: #7952b3;
}
h1{
  margin-top: 30px;
}
label{
  color:transparent;
}
.form-control.is-valid,.form-control.is-invalid{
  background-image: none;
  border-color: #ced4da;
}
.form-control.is-valid{
  background-image: none;
  border-color: #ced4da;
}
.form-control.is-invalid[type=text]{
  margin-top: -100px;
  padding: 23px;
}
.form-control.is-invalid[type=email]{
  margin-top: -75px;
  padding: 23px;
}
.form-control.is-invalid[type=password]{
  margin-top: -33px;
  padding: 23px;
}
.form-control.is-valid[type=text]{
  margin-top: -100px;
  padding: 23px;
}
.form-control.is-valid[type=email]{
  margin-top: -75px;
  padding: 23px;
}
.form-control.is-valid[type=password]{
  margin-top: -33px;
  padding: 23px;
}
#id_password2.form-control.is-invalid{
  margin-top:-150px;
}
#id_password2.form-control.is-valid{
  margin-top:-150px;
}
#s1{
  width:30%;
    background-color: #ffaa00	;
    border-color:#ffaa00;
    margin-top: 15px;
}
.check{
  margin-top: -50px;
}
.message{
  background-position: center;
  background-color: #fff2ac;
  background-image: linear-gradient(to right,#ffe359 0%,#fff2ac 100%);

}
